@use "base" as *;
body {
  padding: 0;
  margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
}
.header {
  background-color: $primary-color;
  font-family: $primary-font;
  padding: 200px;
  text-align: center;
  width: 100%;
  padding: 200px;
}
.base {
  width: 100%;
  background-color: $secondary-color;
  font-family: $primary-font;
  padding: 200px;
  text-align: center;
}

.main {
  width: 100%;
  background-color: $tertiary-color;
  font-family: $primary-font;
  padding: 200px;

  text-align: center;
}
.button {
  font-family: $secondary-font;
  padding: 20px;
  margin: 20px;
  box-shadow: $shadow-button;
}
