@use "base" as *;
body {
  padding: 0;
  margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#header {
  background-color: $secondary-color;
  font-family: $primary-font;
  padding: 150px;
  text-align: center;
}
#base {
  background-color: $primary-color;
  font-family: $primary-font;
  padding: 200px;
  text-align: center;
}

#main {
  background-color: $tertiary-color;
  font-family: $secondary-font;
  padding: 200px;

  text-align: center;
}
#button {
  font-family: $primary-font;
  padding: 20px;
  margin: 20px;
  box-shadow: $shadow-button;
}
