@use "base" as *;

body {
  margin: 0;
  padding: 0;
}

.container-1 {
  display: flex;
  margin: 30px;
  justify-content: center;
  gap: 10px;
  @include color($primary-color);
}

.container-2 {
  display: flex;
  margin: 30px;
  justify-content: center;
  gap: 10px;

  @include color($secondary-color);
}

.container-3 {
  display: flex;

  justify-content: center;
  gap: 10px;
  @include color($three-color);
}

.box {
  display: flex;
  padding: 15px;
  border: 1px;
  margin-bottom: 15px;
}
