body {
  margin: 0;
  padding: 0;
}

#barra {
  display: flex;
  justify-content: space-between;
  background-color: #c9f381;
  :hover {
    background-color: #65d1b5;
  }
}
p {
  margin: 0;
  padding: 12px 16px;
  color: #9b3b6e;
  text-decoration: none;
}
@media (max-width: 600px) {
  #barra {
    flex-direction: column;
  }
}
