@use "base2" as *;
body {
  padding: 0;
  margin: 0;
}

#header {
  background-color: $secondary-color;
  font-family: $primary-font;
  padding: 20px;
  text-align: center;
}
#base {
  background-color: $primary-color;
  font-family: $primary-font;
  padding: 20px;
  text-align: center;
}

#main {
  background-color: $tertiary-color;
  font-family: $secondary-font;
  padding: 20px;
  text-align: center;
}
#button {
  font-family: $primary-font;
  padding: 20px;
  margin: 20px;
  box-shadow: $shadow-button;
}
